# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


# CUSTOM
**unsafe*
**.npy
**.csv
**.png
**.vscode
**EMD_Results
Resources/flagNames.txt
Resources/PSP_SolO_Oct2020/PSP_Data/FIELDS/psp_fld_l2_mag_rtn_1min_20200924_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/FIELDS/psp_fld_l2_mag_rtn_1min_20200925_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/FIELDS/psp_fld_l2_mag_RTN_1min_20200926_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/FIELDS/psp_fld_l2_mag_RTN_1min_20200927_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/FIELDS/psp_fld_l2_mag_RTN_1min_20200928_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/FIELDS/psp_fld_l2_mag_RTN_1min_20200929_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/SWEAP/SPAN-AI/info.txt
Resources/PSP_SolO_Oct2020/PSP_Data/SWEAP/SPAN-AI/psp_swp_spi_sf00_l3_mom_inst_20200924_v03.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/SWEAP/SPAN-AI/psp_swp_spi_sf00_l3_mom_inst_20200925_v03.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/SWEAP/SPAN-AI/psp_swp_spi_sf00_L3_mom_INST_20200926_v03.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/SWEAP/SPAN-AI/psp_swp_spi_sf00_L3_mom_INST_20200927_v03.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/SWEAP/SPAN-AI/psp_swp_spi_sf00_L3_mom_INST_20200928_v03.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/SWEAP/SPAN-AI/psp_swp_spi_sf00_L3_mom_INST_20200929_v03.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200913_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200914_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200916_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200917_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200918_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200919_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200920_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200921_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200922_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/FIELDS/psp_fld_l2_mag_RTN_1min_20200923_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/SWEAP/psp_swp_spc_l3i_20200913_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/SWEAP/psp_swp_spc_l3i_20200914_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/SWEAP/psp_swp_spc_l3i_20200915_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/SWEAP/psp_swp_spc_l3i_20200916_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/SWEAP/psp_swp_spc_l3i_20200917_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/SWEAP/psp_swp_spc_l3i_20200918_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/SWEAP/psp_swp_spc_l3i_20200919_v02.cdf
Resources/PSP_SolO_Oct2020/PSP_Data/archive/SWEAP/psp_swp_spc_l3i_20200922_v02.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20200928_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20200929_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20200930_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20201002_V00.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20201002_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20201003_V00.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20201003_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20201004_V00.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20201004_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/GroundMom/solo_L2_swa-pas-grnd-mom_20201005_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200926_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200927_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200928_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200929_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200930_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20201001_V02.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20201002_V02.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20201003_V02.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20201004_V02.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20201005_V02.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L3/RPW/solo_L3_rpw-bia-density-10-seconds_20200930_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L3/RPW/solo_L3_rpw-bia-density-10-seconds_20201001_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L3/RPW/solo_L3_rpw-bia-density-10-seconds_20201002_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L3/RPW/solo_L3_rpw-bia-density-10-seconds_20201003_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L3/RPW/solo_L3_rpw-bia-density-10-seconds_20201004_V01.cdf
Resources/PSP_SolO_Oct2020/Solo_Data/L3/RPW/solo_L3_rpw-bia-density-10-seconds_20201005_V01.cdf
Resources/STA_PSP_Nov_2019/sta_l2_magplasma_1m_20190101_v01.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191101_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191102_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191103_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191104_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191105_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191106_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191107_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191108_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191109_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191110_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191111_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191112_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191113_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191114_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191115_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191116_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191117_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191118_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191119_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191120_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191121_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191122_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191123_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191124_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191125_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191126_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191127_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191128_v02.cdf
Resources/STA_PSP_Nov_2019/PSP/psp_fld_l2_mag_rtn_1min_20191129_v02.cdf
Resources/SolO_April_2020/SOlO_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200415_V02.cdf
Resources/SolO_April_2020/SOlO_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200416_V01.cdf
Resources/SolO_April_2020/SOlO_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200417_V01.cdf
Resources/SolO_April_2020/SOlO_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200418_V01.cdf
Resources/SolO_April_2020/SOlO_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200419_V01.cdf
Resources/SolO_April_2020/SOlO_Data/L2/Mag/solo_L2_mag-rtn-normal-1-minute_20200420_V01.cdf
